.experience-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #F7FFF7;
    color: #292F36;
}

.experience-item {
    display: flex;
    align-items: stretch;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.experience-image-container {
    flex: 0 0 200px;
    margin-right: 20px;
}

.experience-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.experience-main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;

}

.experience-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.experience-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.experience-title {
    color: #FF6B6B;
    font-size: 2em; /* Povećan font za naslov */
    margin: 0 0 10px 0;
}

.experience-destination,
.experience-location-type,
.experience-people {
    margin: 5px 0;
    font-weight: bold;
}

.experience-meta {
    flex: 0 0 200px; /* Povećan kvadrat za cenu */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.experience-cost {
    font-size: 3em; /* Povećan font za cenu */
    font-weight: bold;
    margin: 0;
    color: #4ECDC4;
}

.experience-description-container {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.experience-description {
    margin: 0;
}

.experience-actions-container {
    flex: 0 0 200px; /* Širina odgovara visini cena containera */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.like-button {
    margin-right: 10px;
    font-size: 1em;
}

.experience-comments {
    font-size: 1em;
}
