.experience-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    color: #2E3532;
    width: 100%; /* Osigurava da zauzima punu širinu */
}

.experience-item {
    display: flex;
    align-items: stretch;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; /* Osigurava da padding ne utiče na ukupnu širinu */
    width: 100%;
}

.experience-image-container {
    flex: 0 0 200px; /* Fiksna širina kontejnera */
    height: 200px; /* Fiksna visina kontejnera, ista kao i širina da bi kontejner bio kvadrat */
    margin-right: 20px;
    overflow: hidden; /* Sakriva bilo koji deo slike koji izlazi van kontejnera */
}

.experience-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Slika ispunjava kvadratni kontejner bez obzira na odnos stranica */
    border-radius: 8px;
    background-color: #f0f0f0;
}

.experience-main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.experience-header-container-username {
    flex: 0 0 372px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience-header-container-cost {
    flex: 0 0 200px 0;
    justify-content: center;
    text-align: center;
}

.experience-header-container-description {
    flex: 0 0 528px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.experience-header-container {
    flex: 0 0 120px;
    text-align: right;
}

.experience-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height:100%;
}

.experience-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.experience-title h3{
    font-size: 2em;
    margin: 0;
    padding: 15px 0 15px 0;
}

.experience-destination,
.experience-location-type,
.experience-people {
    margin: 5px 0;
    font-weight: bold;
}

.experience-meta {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.experience-cost {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    color: #0F09E0;
}

.experience-description-container {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    word-break: break-word; /* Prelama reči koje su preduge */
    overflow-wrap: break-word; /* Alternativno za podršku u raznim browserima */
    white-space: normal; /* Omogućava prelom teksta */
    max-width: 100%; /* Osigurava da kontejner ne prelazi svoju maksimalnu širinu */
}

.experience-description {
    margin: 0;
    max-width:70%;
    text-align: justify;
    word-break: break-word; /* Prelama reči unutar teksta */
    overflow-wrap: break-word; /* Osigurava prelom reči u različitim pretraživačima */
    white-space: normal; /* Omogućava prelom teksta u novi red */
}

.experience-actions-container {
    display: flex;
    flex: 0 0 120px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

.social-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.owner-actions {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.edit-button, .delete-button, .like-button, .comment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09E0DA;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
}

.edit-button:hover, .delete-button:hover, .like-button:hover, .comment-button:hover {
    background-color: #07BFB8;
}

.action-icon {
    margin-right: 5px;
    font-size: 1.2em;
}
